{% extends "base.html" %}

{% block content %}
<h2>Articles</h2>
<a href='{% url 'articles:create' %}'>
    <button>Writing a new article</button>
    </a><br><br>

{% for article in articles %}
    <a href='{% url 'articles:article_detail' article.pk %}'>
        <p>[{{ article.id }}] {{ article.title }}</p>
    </a>

    <form action="{% url "articles:like" article.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in article.Like_users.all %}
            <input type="submit" value="Cancle Like">
        {% else %}
            <input type="submit" value="Like">
        {% endif %}
    </form>
    <hr>

{% endfor %}

    <a href='{% url 'index' %}'><button>Go to index</button></a>
{% endblock content %}
