<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">

      {% if request.user.is_authenticated %}
      <h4>welcome, {{ request.user.username }}</h4>
      <form action='{% url 'accounts:logout' %}' method="POST">
        {% csrf_token %}
        <input type="submit" value='logout'></input>
      </form>
    
      <form action='{% url 'accounts:update' %}' method="POST">
        {% csrf_token %}
        <input type="submit" value='Edit profile'></input>
      </form>

      <form action='{% url 'accounts:delete' %}' method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete ID"></input>
      </form>



      {% else %}
      <a href="{% url 'accounts:login'%}">
        <button>login</button></a>
      <a href="{% url 'accounts:signup'%}">
        <button>Signup</button></a>

      {% endif %}
    
    </div>
    
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>
