{% extends "base.html" %}

{% block content %}
	<h1>Profile Page of {{ member.username }}</h1>

    <div>
        <h2>Username : {{ member.username }}</h2>

        <form action="{% url "users:follow" member.pk %}" method="POST">
            {% csrf_token %}

            {% if request.user in member.followers.all %}
                <input type="submit" value="Unfollow">
            
            {% else %}
                <input type="submit" value="Follow">

            {% endif %}
        </form>
        
    </div>
    <a href="/index/">Back to the index</a>
    
{% endblock content %}
